body {
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: #fff;
}

header {
    background-color: #27C79A;
    height: 6%;
    padding: 20px;
    display: flex;
}

li,ul {
    list-style: none;
    cursor:pointer;

}


a{
    cursor:pointer;
    text-decoration: none;
}


.iconhome {
    width: 45px;
    height: auto;
}

.iconeditor {
    width: 50px;
    height: auto;
    margin-left: 60%;
}

.iconeditor:hover {
}

.iconlogout {
    margin-left: 120%;
    width: 50px;
}

.container {
    display: flex;
    width: 100%;
    height: auto;

}

#colonne1 {
    background-color: #3D4859;
    width: 33.33%;
    color: white;
    min-height: 87.7vh;
    max-height: 87.7vh;
    overflow: scroll;

}

#txtHint {
    background-color: #49576C;
    width: 33.33%;
    color: white;
    min-height: 87.7vh;
    max-height: 87.7vh;
    overflow: scroll;
}

#txtHintt {
    background-color: #F5F7F9;
    width: 33.33%;
    height: 87.3vh;
    min-height: 87.7vh;
    max-height: 87.7vh;
    overflow: scroll;
}

.titre {
    width: 30%;
    height: 38px;
    margin-top: 10%;
    background-color: white;
    color: black;
    padding-top: 10px;
    text-align: center;
    margin-left: 30%;
}

.titre2 {
    width: 99%;
    height: auto;
    text-align: center;
}

.titreajout {
    width: 100%;
    text-align: center;
    border: solid 2px red;
    height: auto;
}

.ajout-theme {
    margin-top: 10%;
}



.input-titre {
    background-color: transparent;
    border-radius: 8px;
    border: solid 1px white;
    width: 60%;
    height: 40px;
    text-align: center;
    font-size: 14px;
    margin-left: 15%;
    color: white;
    outline: 0;

}

.input-lien {
    margin-top: 5%;
    background-color: transparent;
    border-radius: 8px;
    border: solid 1px white;
    width: 60%;
    height: 40px;
    text-align: center;
    font-size: 14px;
    margin-left: 20%;
    color: white;
    outline: 0;
}

.submit {
    margin-top: 5%;
    width: 85%;
    height: 40px;
    background-color: white;
    color: black;
    cursor: pointer;
    border: solid 1px black;
    margin-left: 3%;
    border-radius: 8px;
    font-size: 14px;
}

.nom-theme {
    text-align: center;
    color: white;
    margin-top: 15%;
}


.img-edit {
    width: 30px;
    height: 20px;
    margin-left: 17%;
    margin-top: 0%;
}

.img-remove {
    width: 30px;
    height: 20px;
    margin-left: 3%;
}


.ajout-theme input[type="text"]::-webkit-input-placeholder {
color: white !important;
}

.ajout-theme input[type="text"]:-moz-placeholder { /* Firefox 18- */
color: white !important;
}

.ajout-theme input[type="text"]::-moz-placeholder {  /* Firefox 19+ */
color: white !important;
}

.ajout-theme input[type="text"]:-ms-input-placeholder {
color: white !important;
}


.nom-chapitre {
    text-align: center;
    color: white;
    margin-top: 15%;
}

.nom-cours {
    text-align: center;
    color: black;
    margin-top: 15%;
}

.ajout-chapitre {
    margin-top: 10%;
}

.link-theme-chap {
    margin-left: 35%;
}

.id-cours {
    text-align: center;
}

.idtext {
    border: solid 1px black;
    height: 25px;
    margin-left: 35%;
}

.ajout-chapitre input[type="text"]::-webkit-input-placeholder {
color: white !important;
}

.ajout-chapitre input[type="text"]:-moz-placeholder { /* Firefox 18- */
color: white !important;
}

.ajout-chapitre input[type="text"]::-moz-placeholder {  /* Firefox 19+ */
color: white !important;
}

.ajout-chapitre input[type="text"]:-ms-input-placeholder {
color: white !important;
}


.ajout-cours {
    margin-top: 10%;
}

.ajout-cours input[type="text"]::-webkit-input-placeholder {
color: black !important;
}

.ajout-cours input[type="text"]:-moz-placeholder { /* Firefox 18- */
color: black !important;
}

.ajout-cours input[type="text"]::-moz-placeholder {  /* Firefox 19+ */
color: black !important;
}

.ajout-cours input[type="text"]:-ms-input-placeholder {
color: black !important;
}


.input-titre-cours {
    background-color: transparent;
    border-radius: 8px;
    border: solid 1px black;
    width: 60%;
    height: 40px;
    text-align: center;
    font-size: 14px;
    margin-left: 20%;
    color: black;
    outline: 0;
    margin-top: 10%;

}


.link-theme-titre {
    text-align: center;
    cursor:pointer;

}

.link-chapitre-titre {
    text-align: center;
    cursor:pointer;

}

.link-theme {
    margin-left: 37%;
    cursor:pointer;

}

.link-chapitre {
    margin-left: 37%;
    cursor:pointer;

}

.url {
    text-align: center;
    cursor:pointer;

}

.urltext {
    margin-left: 37%;
    border: solid 1px black;
    height: 25px;
    cursor:pointer;

}


.submit-cours {
    margin-top: 5%;
    width: 85%;
    height: 40px;
    background-color: black;
    color: white;
    cursor: pointer;
    text-transform: uppercase;
    border: solid 1px black;
    margin-left: 6%;
    border-radius: 8px;
    font-size: 14px;
}